p, body, ul {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 500;
    font-size: 1.3em;
}

body {
    font-family: sans-serif;
}

#game-frame {   
    border: 3px rgba(0, 0, 0, 0.486) solid;
}

body::after {
    background-image: url('../images/background.jpg');
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: -1;
    opacity: 0.3;
}

article p {
    text-indent: 1em;
    margin: 1em 0;
}

article h2 + p {
    margin-top: 0.3em;
}

article h2 {
    margin-bottom: 0.3em;
}

ul {
    list-style: none;
}

header {
    background-color: rgb(31, 28, 23);
    color: beige;
    font-size: 2em;
    padding: 0.5em;
}

nav {
    position: sticky;
    top: 0;
}

nav ul {
    background-color: grey;
    display: flex;
}

nav a {
    display: inline-block;
    background-color: grey;
    padding: 0.8em 2em;
    text-decoration: none;
    color: rgb(99, 48, 48);
}

nav a:hover {
    background-color: rgb(87, 81, 81);
}

aside div {
    background-color: rgba(245, 245, 220, 0.2);
    padding: 1em;
    border-radius: 1em;
}

aside img {
    width: 100%;
    border-radius: 5px;
}

aside ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px
}

aside div {
    position: sticky;
    top: 4em;
}

aside {
    margin: 1em 1em 1em 1em;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-bottom: 2em;
}

@media screen and (max-width: 1000px) {
    aside div {
        background-color: rgba(245, 245, 220, 0);
    }
    main {
        display: block;
    }
}

article {
    margin: 1em 2em 1em 2em;
}

footer {
    padding: 1em;
    background-color: rgb(31, 28, 23);
    color: beige;
}

footer h2 {
    margin: 0;
}